* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    min-height: 100vh;
    background-color: #dadada;
}

/* Genral  */
i {
    color: #4F86F9;
    padding-right: 10px;
}

li {
    list-style: none;
}

a {
    color: white;
    padding: 2vw 0;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
    color: #4F86F9;
}

/* aside part  */
aside {
    position: fixed;
    background-color: #474747;
    top: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    padding: 7vw;
    display: none;
    z-index: 999;
}

aside .nav2 {
    display: flex;
    justify-content: space-between;
}

aside .menu {
    font-size: 20px;
    font-weight: normal;
}

aside .menu ul {
    padding-top: 20px;
}

aside .menu ul li {
    padding: 5px 0;
}

aside .nav2 h1 {
    font-size: 25px;
    color: #4F86F9;
}

aside .nav2 h1 span {
    color: white;
}

aside .menu-bar {
    font-size: 30px;
    cursor: pointer;
}

/* nav1 part  */
.nav1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 5vw;
    align-items: center;
    /* background-color: red; */
}

#nav2 .menu-bar {
    display: none;
}

#nav2 {
    height: 10vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 4vw;
    background-color: rgba(0, 0, 0, 0.723);
}

#nav2 h1 {
    font-size: 3.5vw;
    color: #4F86F9;
}

#nav2 h1 span {
    color: white;
}

#nav2 .menu-icon {
    display: none;
}

#nav2 .menu ul {
    display: flex;
    padding-right: 2vw;
}

#nav2 .menu ul li {
    padding: 0 1vw;
}

@media (max-width:600px) {
    #nav2 .menu {
        display: none;
    }

    #nav2 .menu-bar {
        display: block;
        cursor: pointer;
    }

}

@media (max-width:420px) {
    .nav1 {
        display: none;
    }
}

/* hero part  */
.hero {
    max-height: 90vh;
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
}

.hero .hslider {
    display: flex;
    width: 200%;
}

.hero::-webkit-scrollbar {
    display: none;
}

.hero .hslider .img1 {
    width: 100%;
    position: relative;
}

.hero .hslider .img2 {
    width: 100%;
    animation: left-right 10s infinite;
    position: relative;
}

@keyframes left-right {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.hslider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .hslider .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.426);
}

.hero .hslider .himg-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.himg-text h2 {
    text-align: center;
    font-size: 4vw;
}

.himg-text p {
    padding: 2vw 0;
    text-align: center;
    font-size: 1.5vw;
}


.hero-btn {
    color: #4F86F9;
    background-color: rgba(255, 255, 255, 0.907);
    padding: 1vw 2vw;
    border: none;
    width: 30%;
    font-size: 1vw;
    border-radius: 5px;
    font-weight: 700;

}

.hero-btn a {
    color: black;
    text-decoration: 2px solid underline;
}

@media (max-width:700px) {
    .img2 {
        display: none;
    }

    .hero .hslider {
        width: 100%;
    }
}

/* team part  */
#team {
    background-color: #F4F6FF;
    border-bottom: 2px solid;
}

#team .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    /* background-color: red; */
}

#team .text p {
    font-size: 5vw;
    color: rgb(129, 129, 129);
    font-weight: bold;
}

#team .text h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3vw;
    font-weight: 400;
}

/* profile settings  */
#team .profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2vw 1vw;
    padding-bottom: 5vw;
    gap: 2vw;
}

#team .profile .block {
    width: 22%;
    padding: 1vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    transition: all linear 0.5s;
}

#team .profile .block:hover {
    background-color: #4F86F9;
    color: white;
    scale: 1.08;
    transition: all linear 0.5s;
    cursor: pointer;
}

.profile .block:hover img {
    scale: 1.08;
    transition: all linear 0.5s;
}

#team .profile .block .data {
    padding-top: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#team .profile .block .data h3 {
    font-size: 1.7vw;
}

#team .profile .block .data h4 {
    padding: 1vw;
    font-size: 1.1vw;
}

#team .profile .block .data p {
    text-align: center;
    padding-bottom: 1vw;
    font-size: 1.1vw;
}

#team .block img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 50%;
    padding: 1vw;
    transition: all linear 0.5s;

}

/* services part  */
#services {
    padding: 2vw 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F4F6FF;
}

.service {
    flex-wrap: wrap;
    display: flex;
    gap: 2vw;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
}

#services h4 {
    padding-top: 3vw;
    color: #AAACB2;
    font-size: 2vw;
}

#services h2 {
    font-size: 3.5vw;
    font-weight: 400;
    padding-bottom: 3vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.service .block {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 1vw 0;
    border-radius: 5%;
    transition: all linear 0.5s;
}

.service .block:hover {
    background-color: skyblue;
    color: white;
    cursor: pointer;
    scale: 1.1;
    transition: all linear 0.5s;
}

.service .block .img {
    width: 50%;
    height: 15%;
    padding-bottom: 2vw;
}

.service .block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service .block h3 {
    text-align: center;
    font-size: 1.8vw;
    padding-bottom: 0.7vw;
}

.service .block p {
    text-align: center;
    font-size: 1.2vw;
}


/* footer part  */
footer {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 25px;
}

footer p:hover {
    color: #babbbd;
    cursor: pointer;
}